body {
  font-family: sans-serif;
  background-image: url(Images/KittyBackground.jpg);
  background-repeat: repeat;
  background-position: center center;
}

.CenterText {
  text-align: center;
}

.JustifyText {
  text-align: justify;
}

.HeaderChange {
  font-family: sans-serif;
  font-style: italic;
  font-weight: normal;
  color: orange;
}

.ImageStyle {
  border: 10px solid #000000;
  padding: 10px;
  background-color: #ffffff;
}
