body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  background-color: #99ccff;
  text-align: center;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: #33ccff;
}

header {
  grid-column: span 12;
  margin-bottom: 10px;
}

#sticker {
  float: left;
}

header nav {
  margin: 75px 0px 0px 0px;
}

header li {
  margin: 0px 5px 0px 5px;
  border-radius: 15px;
  display: inline-block;
  float: left;
  transition: background-color .5s;
}

header li a {
  padding: 0px 10px 2px 10px;
  font-size: 25px;
  border-radius: 15px;
}

main {
  text-align: center;
  grid-column: span 12;
}

.banner {
  grid-column: span 12;
  width: 1200px;
  border-radius: 15px;
}

main ul {
  margin: 30px 0px 50px 0px;
  font-size: 20px;
}

.bigNav li {
  display: inline-block;
  margin: 0px 40px 0px 40px;
  padding: 15px 35px 25px 35px;
  border-radius: 150px;
  transition: background-color .5s;
}

.pics img {
  border-radius: 15px;
}

.pics iframe {
  border-radius: 15px;
}

.pics li {
  display: inline-block;
  margin: 0px 25px 0px 25px;
  padding-bottom: 3px;
  border-radius: 15px;
  transition: background-color .5s;
}

footer {
  grid-column: span 12;
}

footer ul {
  float: left;
  margin: 0px 0px 0px 50px;
}

.socialMedia li {
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
  transition: background-color .5s;
}

p {
  width: 530px;
  margin: 10px 0px 0px 600px;
  font-size: 20px;
}

.footBorderTop {
  border-top: 3px solid black;
  padding-top: 3px;
}

.footBorderBottom {
  border-bottom: 3px solid black;
  padding-bottom: 4px;
}
